<!DOCTYPE html>
<html lang="en">

    <head>
      <meta charset="utf-8">
      <title>Johnny's poem</title>
      <link rel="stylesheet" href="./css/style.css">

  </head>
  <body>
    <h1>A Dream Within a Dream</h1>
    <br /><h3>BY <ins>
      <a href = "https://en.wikipedia.org/wiki/Edgar_Allan_Poe">
        EDGAR ALLAN POE</a></ins></h3>

    <p>Take this kiss upon the brow!</p>
    <p>And, in parting from you now,</p>
    <p>Thus much let me avow —</p>
    <p>You are not wrong, who deem</p>
    <p>That my days have been a dream;</p>
    <p>Yet if hope has flown away</p>
    <p>In a night, or in a day,</p>
    <p>In a vision, or in none,</p>
    <p>Is it therefore the less gone? </p>
    <p>All that we see or seem</p>
    <p>Is but a dream within a dream.</p>
    
    <p>I stand amid the roar</p>
    <p>Of a surf-tormented shore,</p>

    <p>And I hold within my hand</p>
    <p>Grains of the golden sand —</p>
    <p>How few! yet how they creep</p>
    <p>Through my fingers to the deep,</p>
    <p>While I weep — while I weep!</p>
    <p>O God! Can I not grasp</p>
    <p>Them with a tighter clasp?</p>
    <p>O God! can I not save </p>
    <p>One from the pitiless wave?</p>
    <p>Is all that we see or seem</p>
    <p>But a dream within a dream?</p>
    
    <ins><h6><p>Edgar Allan Poe,
       "A Dream Within a Dream" 
       from The Works of the Late Edgar Allan Poe,
        ed. R. W. Griswold. New York: J. S. Redfield, 1850. 
        Public Domain.</p></h6></ins>

</body>
</html>