<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>WCC Portfolio</title>
    </head>
    <body>
        <h1>Zihao Xiao</h1>

        <h3>Term 1</h3>

        <ul>
            <li>
                <p><a href="https://vimeo.com/manage/videos/785743336">Truth Lies With Shadow</a></p>
            </li>

            <li>
                <p><a href="/">Title of Project</a></p> 
            </li>

            <li>
                <p><a href="/">Title of Project</a></p>
            </li>

            <li>
                <p><a href="/">Title of Project</a></p>
            </li>

        </ul>

        <h3>Term 2</h3>

        <ul>
            <li>
                <a href="http://127.0.0.1:5500/johnny's%20poem.html">Week 1: Hypertext Concrete Poem</a>
            </li>
        </ul>

    </body>
</html>